.home-card{
    width: 360px;
    margin: auto;
    margin: 15px;
}

.home-card img {
    height: 150px;
    object-fit: cover;
    object-position: 0% 0%;
}

.home-background{
    width: 100vw;
    height: 100vh;
    background-blend-mode: overlay;
    background-color: #cccccc;
    background-size: cover;
    padding: 8px;
    background-repeat: repeat;
/* Centrar div */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0px;
}

.card-footer-button {
    width: 100%;
}