.home-card{
    width: 360px;
    margin: auto;
    margin: 15px;
}

.home-card img {
    height: 134px;
    object-fit: cover;
    object-position: 0% 5%;
}

.home-background{
    width: 100vw;
    height: 100vh;
    padding: 8px;
    /* background-repeat: repeat; */
/* Centrar div */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0px;
}

.card-footer-button {
    width: 100%;
}

:host ::ng-deep .memory-main-card{
    width: 400px;
    margin: auto;
    margin: 15px;
}

:host ::ng-deep .memory-main-card img {
    height: 150px;
    object-fit: cover;
    object-position: 0% 0%;
}

:host ::ng-deep .home-background p-inputNumber input{
    width: 100%;
    text-align: center;
}

.game-description {
    height: 150px;
    overflow: auto;
}